<div id="container">

  <a routerLink="/sportif/compte" routerLinkActive="active" class="btn-link">
    <div class="container-item">
      <span>Compte</span>
      <span class="icon">
        <img src="/icons/fleche.png" alt="" />
      </span>
    </div>
  </a>

  <a routerLink="/sportif/skiox" routerLinkActive="active" class="btn-link">
    <div class="container-item">
      <span>SkiOx</span>
      <span class="icon">
        <img src="/icons/fleche.png" alt="" />
      </span>
    </div>
  </a>

  <a routerLink="/sportif/infos-sante" routerLinkActive="active" class="btn-link">
    <div class="container-item">
      <span>Infos santé</span>
      <span class="icon">
        <img src="/icons/fleche.png" alt="" />
      </span>
    </div>
  </a>
    <a href="#" (click)="logout(); $event.preventDefault()" class="btn-link" role="button">
    <div class="container-item container-item--danger">
      <span>Se déconnecter</span>
      <span class="icon">
        <img src="/icons/fleche.png" alt="" />
      </span>
    </div>
  </a>

</div>

 