<nav class="bottom-nav">
  <ul>
    <li>
      <a routerLink="/sauveteur" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon">
          <!-- https://www.flaticon.com/fr/icones-gratuites/bouton-daccueil -->
          <img src="/icons/maison.png" alt="" />
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/sauveteur/intervention" routerLinkActive="active">
        <span class="icon">
          <!-- https://www.flaticon.com/fr/icones-gratuites/asterisque -->
          <img src="/icons/symboleAmbulance.png" alt="" />
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/sauveteur/station" routerLinkActive="active">
        <span class="icon">
          <!-- https://www.flaticon.com/fr/icones-gratuites/lhiver -->
          <img src="/icons/equipement.png" alt="" />
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/sauveteur/parametre" routerLinkActive="active">
        <span class="icon">
          <!-- https://www.flaticon.com/fr/icones-gratuites/reglages -->
          <img src="/icons/parametre.png" alt="" />
        </span>
      </a>
    </li>
  </ul>
</nav>
